<a href="https://colab.research.google.com/github/dmswl0707/Recommendation_system_Python/blob/main/01_content_based_filtering_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#데이터 불러오기

- pd.read_csv('경로')
- pd.read_excel('경로')

In [42]:
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/movies_metadata.csv')
data2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/keywords.csv')

data.head(5)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

#필요한 컬럼 데이터만 추출 
- data['columns']
- data.loc[:,['columns']]

In [43]:
dt = data[['budget','genres','homepage','id','original_language','original_title','overview','popularity','production_companies','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline','title','vote_average','vote_count']]
dt.head(5)
#data.info()

     budget  ... vote_count
0  30000000  ...     5415.0
1  65000000  ...     2413.0
2         0  ...       92.0
3  16000000  ...       34.0
4         0  ...      173.0

[5 rows x 19 columns]

#특정 열 이름 변경 (딕셔너리 이용)
df.rename(columns={key:value}, inplace = True)

In [44]:
data2.head(5)
#data2.info()
data2.rename(columns={'id':'id-1'}, inplace = True)
del data2['id-1']

# 두 데이터 합치기
**df = pd.cancat([data1, data2], axis = 1)**  OR
**df =pd.merge(data1, data2)**
- reset_index(drop = True) 인덱스 무시하기 (인덱스로 인한 결측치 발생 피기 위함)

In [46]:
df = pd.concat([dt.reset_index(drop=True), data2.reset_index(drop=True)], axis = 1)
df.head(2)

     budget  ...                                           keywords
0  30000000  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  65000000  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...

[2 rows x 20 columns]

#결측치 제거
- isna().sum() : 결측치가 존재할 경우 boolean으로 처리, 합계를 계산 
- dropna() : 결측치가 존재할 경우 row 레벨에서 삭제

In [47]:
df.isna().sum()

budget                    953
genres                    953
homepage                38637
id                        953
original_language         964
original_title            953
overview                 1907
popularity                958
production_companies      956
production_countries      956
release_date             1040
revenue                   959
runtime                  1216
spoken_languages          959
status                   1040
tagline                 26007
title                     959
vote_average              959
vote_count                959
keywords                    0
dtype: int64

In [48]:
final = df.dropna()
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4402 entries, 9 to 45395
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4402 non-null   object
 1   genres                4402 non-null   object
 2   homepage              4402 non-null   object
 3   id                    4402 non-null   object
 4   original_language     4402 non-null   object
 5   original_title        4402 non-null   object
 6   overview              4402 non-null   object
 7   popularity            4402 non-null   object
 8   production_companies  4402 non-null   object
 9   production_countries  4402 non-null   object
 10  release_date          4402 non-null   object
 11  revenue               4402 non-null   float64
 12  runtime               4402 non-null   float64
 13  spoken_languages      4402 non-null   object
 14  status                4402 non-null   object
 15  tagline               4402 non-null   object
 16  title                 4402 non-null   object
 17  vote_average          4402 non-null   float64
 18  vote_count            4402 non-null   float64
 19  keywords              4402 non-null   object
dtypes: float64(4), object(16)
memory usage: 722.2+ KB

In [49]:
final.head(100)

        budget  ...                                           keywords
9     58000000  ...  [{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...
24     3600000  ...  [{'id': 30, 'name': 'individual'}, {'id': 549,...
46    33000000  ...  [{'id': 476, 'name': 'self-fulfilling prophecy...
49     6000000  ...  [{'id': 3703, 'name': 'law'}, {'id': 5493, 'na...
68     3500000  ...  [{'id': 897, 'name': 'rap music'}, {'id': 970,...
...        ...  ...                                                ...
1684  75000000  ...  [{'id': 270, 'name': 'ocean'}, {'id': 1603, 'n...
1685         0  ...                                                 []
1791    180000  ...  [{'id': 1155, 'name': 'brother sister relation...
1812     60000  ...  [{'id': 2157, 'name': 'hacker'}, {'id': 2303, ...
1813         0  ...  [{'id': 572, 'name': 'sex'}, {'id': 586, 'name...

[100 rows x 20 columns]

# 새 데이터프레임 생성
- df.to_csv('경로')

In [51]:
final.to_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/01data.csv')