<a href="https://colab.research.google.com/github/dmswl0707/RecomendationSystem_Python/blob/main/01_content_based_filtering_%EC%BB%A8%ED%85%90%EC%B8%A0%EA%B8%B0%EB%B0%98%ED%95%84%ED%84%B0%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/01data_2.csv')
data.head(2)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    id  ...     score
0  807  ...  7.838691
1  629  ...  7.700533

[2 rows x 9 columns]

#ÏΩòÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅ Ï∂îÏ≤ú
Ïª®ÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÎπÑÏä∑Ìïú Ïû•Î•¥Î•º Ï∞æÏïÑ Ï∂îÏ≤úÌïúÎã§

1. ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÎ•º Ïù¥Ïö©Ìï¥ Ïû•Î•¥Í∞Ä ÎπÑÏä∑Ìïú ÏòÅÌôîÎ•º Ï∂îÏ≤ú üåüüåüüåü
2. vote_countÍ∞Ä ÎÜíÏùÄ Í≤ÉÏùÑ Ïù¥Ïö©ÌïòÏó¨ Ï∂îÏ≤ú üåüüåüüåü

###Î¨∏ÏûêÏó¥ÏùÑ Ïà´ÏûêÎ°ú Î≤°ÌÑ∞Ìôî

In [8]:
data.genres.head(2)

0    Crime Mystery Thriller
1      Drama Crime Thriller
Name: genres, dtype: object

In [18]:
count_vector = CountVectorizer(ngram_range=(1, 3))
c_vector_genres = count_vector.fit_transform(data['genres'])
c_vector_genres.shape

(485, 394)

In [19]:
# Îã®Ïñ¥Î•º Î≤°ÌÑ∞ÌôîÌïòÏó¨ Ï†ÄÏû•
print(c_vector_genres)

  (0, 152)	1
  (0, 328)	1
  (0, 363)	1
  (0, 167)	1
  (0, 337)	1
  (0, 169)	1
  (1, 152)	1
  (1, 363)	1
  (1, 174)	1
  (1, 185)	1
  (1, 172)	1
  (1, 186)	1
  (2, 152)	1
  (2, 363)	1
  (2, 311)	1
  (2, 0)	1
  (2, 312)	1
  (2, 44)	1
  (2, 371)	1
  (2, 314)	1
  (2, 46)	1
  (3, 0)	1
  (3, 53)	1
  (3, 353)	1
  (3, 280)	1
  :	:
  (482, 106)	1
  (482, 83)	1
  (482, 12)	1
  (482, 13)	1
  (483, 174)	1
  (483, 353)	1
  (483, 280)	1
  (483, 354)	1
  (483, 388)	1
  (483, 210)	1
  (483, 211)	1
  (483, 303)	1
  (483, 362)	1
  (484, 363)	1
  (484, 174)	1
  (484, 0)	1
  (484, 304)	1
  (484, 388)	1
  (484, 192)	1
  (484, 23)	1
  (484, 386)	1
  (484, 308)	1
  (484, 24)	1
  (484, 194)	1
  (484, 309)	1

In [13]:
#ÏΩîÏÇ¨Ïù∏Ïú†ÏÇ¨ÎèÑÎ•º Íµ¨Ìïú Í∞íÏùÑ ÎØ∏Î¶¨ Ï†ÄÏû•
gerne_c_sim = cosine_similarity(c_vector_genres, c_vector_genres).argsort()[:, ::-1]
gerne_c_sim.shape

(485, 485)

In [21]:
print(gerne_c_sim)

[[  0  59 440 ... 262 264 216]
 [  1 303 334 ... 178 345 409]
 [  2 154 105 ... 241 129 139]
 ...
 [482 432 332 ... 265 260   0]
 [483 285 363 ... 316 318   0]
 [484 336 416 ... 314 134 211]]

In [22]:
def get_recommend_movie_list(df, movie_title, top=30):
    # ÌäπÏ†ï ÏòÅÌôîÏôÄ ÎπÑÏä∑Ìïú ÏòÅÌôîÎ•º Ï∂îÏ≤úÌï¥Ïïº ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê 'ÌäπÏ†ï ÏòÅÌôî' Í∞íÎ•º ÎΩëÏïÑÎÇ∏Îã§.
    target_movie_index = df[df['title'] == movie_title].index.values
    
    #ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ Ï§ë ÎπÑÏä∑Ìïú ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÎ•º Í∞ÄÏßÑ Ï†ïÎ≥¥Î•º ÎΩëÏïÑÎÇ∏Îã§.
    sim_index = gerne_c_sim[target_movie_index, :top].reshape(-1)
    #Î≥∏Ïù∏ÏùÑ Ï†úÏô∏
    sim_index = sim_index[sim_index != target_movie_index]

    #data frameÏúºÎ°ú ÎßåÎì§Í≥† vote_countÏúºÎ°ú Ï†ïÎ†¨Ìïú Îí§ return
    result = df.iloc[sim_index].sort_values('score', ascending=False)[:5]
    return result

In [23]:
get_recommend_movie_list(data, movie_title='The Dark Knight Rises')

         id  ...     score
149     155  ...  8.136459
333  106646  ...  7.702718
420  264644  ...  7.655355
125    1422  ...  7.626700
325  146233  ...  7.553214

[5 rows x 9 columns]