<a href="https://colab.research.google.com/github/dmswl0707/RecomendationSystem_Python/blob/main/01_content_based_filtering_%EC%BB%A8%ED%85%90%EC%B8%A0%EA%B8%B0%EB%B0%98%ED%95%84%ED%84%B0%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/01data_2.csv')
data.head(2)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    id  ...     score
0  807  ...  7.838691
1  629  ...  7.700533

[2 rows x 9 columns]

#ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ ì¶”ì²œ
ì»¨í…ì¸  ê¸°ë°˜ í•„í„°ë§ì„ ì´ìš©í•˜ì—¬ ë¹„ìŠ·í•œ ì¥ë¥´ë¥¼ ì°¾ì•„ ì¶”ì²œí•œë‹¤

1. ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¥¼ ì´ìš©í•´ ì¥ë¥´ê°€ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œ ğŸŒŸğŸŒŸğŸŒŸ
2. vote_countê°€ ë†’ì€ ê²ƒì„ ì´ìš©í•˜ì—¬ ì¶”ì²œ ğŸŒŸğŸŒŸğŸŒŸ

###ë¬¸ìì—´ì„ ìˆ«ìë¡œ ë²¡í„°í™”

In [ ]:
data.genres.head(2)

0    Crime Mystery Thriller
1      Drama Crime Thriller
Name: genres, dtype: object

## scikit-learn ë¬¸ì„œ ì „ì²˜ë¦¬ ê¸°ëŠ¥
- DictVectorizer : ê° ë‹¨ì–´ì˜ ìˆ˜ë¥¼ ì„¸ì–´ë†“ì€ ì‚¬ì „ì—ì„œ BOW ì¸ì½”ë”© ë²¡í„°ë¥¼ ë§Œë“ ë‹¤.(ë‹¨ì–´ì˜ ì‚¬ìš© ë¹ˆë„)
- CountVectorizer : ë¬¸ì„œ ì§‘í•©ì—ì„œ ë‹¨ì–´ í† í°ì„ ìƒì„±í•˜ê³  ê° ë‹¨ì–´ì˜ ìˆ˜ë¥¼ ì„¸ì–´ BOW ì¸ì½”ë”© ë²¡í„°ë¥¼ ë§Œë“ ë‹¤.(í† ê·¼ ë‹¨ìœ„ì˜ ì¶œí˜„ ë¹ˆë„)
- TfidfVectorizer: CountVectorizerì™€ ë¹„ìŠ·í•˜ì§€ë§Œ TF-IDF ë°©ì‹ìœ¼ë¡œ ë‹¨ì–´ì˜ ê°€ì¤‘ì¹˜ë¥¼ ì¡°ì •í•œ BOW ì¸ì½”ë”© ë²¡í„°ë¥¼ ë§Œë“ ë‹¤.
- HashingVectorizer : í•´ì‹œ í•¨ìˆ˜(hash function)ì„ ì‚¬ìš©í•˜ì—¬ ì ì€ ë©”ëª¨ë¦¬ì™€ ë¹ ë¥¸ ì†ë„ë¡œ BOW ì¸ì½”ë”© ë²¡í„°ë¥¼ ë§Œë“ ë‹¤.

### TF - IDF 
TF-IDF(Term Frequency â€“ Inverse Document Frequency) ì¸ì½”ë”©ì€ ë‹¨ì–´ë¥¼ ê°¯ìˆ˜ ê·¸ëŒ€ë¡œ ì¹´ìš´íŠ¸í•˜ì§€ ì•Šê³  ëª¨ë“  ë¬¸ì„œì— ê³µí†µì ìœ¼ë¡œ ë“¤ì–´ìˆëŠ” ë‹¨ì–´ì˜ ê²½ìš° ë¬¸ì„œ êµ¬ë³„ ëŠ¥ë ¥ì´ ë–¨ì–´ì§„ë‹¤ê³  ë³´ì•„ ê°€ì¤‘ì¹˜ë¥¼ ì¶•ì†Œí•˜ëŠ” ë°©ë²•ì´ë‹¤. 
   ### tf-idf(ğ‘‘,ğ‘¡)=tf(ğ‘‘,ğ‘¡)â‹…idf(ğ‘¡)
- tf(ğ‘‘,ğ‘¡) : term frequency. íŠ¹ì •í•œ ë‹¨ì–´ì˜ ë¹ˆë„ìˆ˜

- idf(ğ‘¡) : inverse document frequency. íŠ¹ì •í•œ ë‹¨ì–´ê°€ ë“¤ì–´ ìˆëŠ” ë¬¸ì„œì˜ ìˆ˜ì— ë°˜ë¹„ë¡€í•˜ëŠ” ìˆ˜
- ğ‘› : ì „ì²´ ë¬¸ì„œì˜ ìˆ˜

- df(ğ‘¡): ë‹¨ì–´ ğ‘¡ë¥¼ ê°€ì§„ ë¬¸ì„œì˜ ìˆ˜


### CountVectorizer

```
corpus = ['This is the first document']
vect = CountVectorizer(ì¸ìˆ˜)
vect.fit(corpus)
vect.transforms(corpus).toarray()
```

ì¶œì²˜ : https://datascienceschool.net/03%20machine%20learning/03.01.03%20Scikit-Learn%EC%9D%98%20%EB%AC%B8%EC%84%9C%20%EC%A0%84%EC%B2%98%EB%A6%AC%20%EA%B8%B0%EB%8A%A5.html

In [ ]:
count_vector = CountVectorizer(ngram_range=(1, 3))
c_vector_genres = count_vector.fit_transform(data['genres'])
c_vector_genres.shape

(485, 394)

In [ ]:
# ë‹¨ì–´ë¥¼ ë²¡í„°í™”í•˜ì—¬ ì €ì¥
print(c_vector_genres)

  (0, 152)	1
  (0, 328)	1
  (0, 363)	1
  (0, 167)	1
  (0, 337)	1
  (0, 169)	1
  (1, 152)	1
  (1, 363)	1
  (1, 174)	1
  (1, 185)	1
  (1, 172)	1
  (1, 186)	1
  (2, 152)	1
  (2, 363)	1
  (2, 311)	1
  (2, 0)	1
  (2, 312)	1
  (2, 44)	1
  (2, 371)	1
  (2, 314)	1
  (2, 46)	1
  (3, 0)	1
  (3, 53)	1
  (3, 353)	1
  (3, 280)	1
  :	:
  (482, 106)	1
  (482, 83)	1
  (482, 12)	1
  (482, 13)	1
  (483, 174)	1
  (483, 353)	1
  (483, 280)	1
  (483, 354)	1
  (483, 388)	1
  (483, 210)	1
  (483, 211)	1
  (483, 303)	1
  (483, 362)	1
  (484, 363)	1
  (484, 174)	1
  (484, 0)	1
  (484, 304)	1
  (484, 388)	1
  (484, 192)	1
  (484, 23)	1
  (484, 386)	1
  (484, 308)	1
  (484, 24)	1
  (484, 194)	1
  (484, 309)	1

In [ ]:
#ì½”ì‚¬ì¸ìœ ì‚¬ë„ë¥¼ êµ¬í•œ ê°’ì„ ë³€ìˆ˜ì— ë¯¸ë¦¬ ì €ì¥
gerne_c_sim = cosine_similarity(c_vector_genres, c_vector_genres).argsort()[:, ::-1]
gerne_c_sim.shape

(485, 485)

In [ ]:
print(gerne_c_sim)

[[  0  59 440 ... 262 264 216]
 [  1 303 334 ... 178 345 409]
 [  2 154 105 ... 241 129 139]
 ...
 [482 432 332 ... 265 260   0]
 [483 285 363 ... 316 318   0]
 [484 336 416 ... 314 134 211]]

## í•¨ìˆ˜ êµ¬ì„±
1. ì…ë ¥í•˜ëŠ” ì˜í™” ì´ë¦„ì˜ ê°’ì„ íƒ€ê²Ÿìœ¼ë¡œ ì„¤ì •
2. íƒ€ì¼“ ì˜í™”ì™€ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¡œ ìœ ì‚¬í•œ ì •ë³´ë¥¼ ì˜í™”ë¥¼ ë½‘ëŠ”ë‹¤.
3. ìœ ì‚¬ ì˜í™” ë¦¬ìŠ¤íŠ¸ì—ì„œ í‰ì ì´ ë†’ì€ ìˆœìœ¼ë¡œ ì¶œë ¥í•œë‹¤.

In [ ]:
#ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•´ì£¼ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“ ë‹¤

def get_recommend_movie_list(df, movie_title, top=30):
    # íŠ¹ì • ì˜í™”ì™€ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œí•´ì•¼ í•˜ê¸° ë•Œë¬¸ì— 'íŠ¹ì • ì˜í™”' ê°’ë¥¼ ë½‘ì•„ë‚¸ë‹¤.
    target_movie_index = df[df['title'] == movie_title].index.values
    
    #ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì¤‘ ë¹„ìŠ·í•œ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¥¼ ê°€ì§„ ì •ë³´ë¥¼ ë½‘ì•„ë‚¸ë‹¤.
    sim_index = gerne_c_sim[target_movie_index, :top].reshape(-1)
    #ë³¸ì¸ì„ ì œì™¸
    sim_index = sim_index[sim_index != target_movie_index]

    #data frameìœ¼ë¡œ ë§Œë“¤ê³  scoreìœ¼ë¡œ ì •ë ¬í•œ ë’¤ return
    result = df.iloc[sim_index].sort_values('score', ascending=False)[:5]
    return result

In [ ]:
get_recommend_movie_list(data, movie_title='The Dark Knight Rises')

         id  ...     score
149     155  ...  8.136459
333  106646  ...  7.702718
420  264644  ...  7.655355
125    1422  ...  7.626700
325  146233  ...  7.553214

[5 rows x 9 columns]