<a href="https://colab.research.google.com/github/dmswl0707/RecomendationSystem_Python/blob/main/02_item%20based%20collaborative%20filtering_%EC%BD%94%EC%82%AC%EC%9D%B8%EC%9C%A0%EC%82%AC%EB%8F%84%EC%B8%A1%EC%A0%95ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

##아이템 기반 협업필터링
사용자-아이템 피봇테이블을 이용,
사용자별 아이템을 추출한다.

### 데이터 전처리
- 피봇테이블 정렬
- 메타데이터 정리
- 데이터프레임 생성

In [180]:
from google.colab import drive
drive.mount('/content/drive')

data_dir ='/content/drive/My Drive/Colab Notebooks/data/RCS_data/ratings_small.csv'
data = pd.read_csv(data_dir)
data.head(5)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [181]:
data = data.pivot_table('rating', index='userId', columns='movieId') #값은 rating , 행 index, 열 columns (사용자 아이디별 영화 평점)
data.head()

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5           NaN     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 9066 columns]

In [182]:
print(data.shape)

(671, 9066)

In [183]:
rating = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/ratings_small.csv')
movies_metadata = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/RCS_data/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [200]:
#movie title를 추출해서 추가
movies_metadata.head(1)
#movies_metadata.shape
#정제된 tmdb_5000_movies.csv의 형태를 알 수 없으나, title을 추가하고 싶기 때문에 자세히 알지 않아도 된다.

   adult  ... vote_count
0  False  ...     5415.0

[1 rows x 24 columns]

In [185]:
movies = movies_metadata[['budget','genres','homepage','id','original_language','original_title','production_countries','release_date','revenue','runtime','spoken_languages','status','tagline','title','vote_average','vote_count']]
movies.rename(columns={'id':'movieId'}, inplace = True)
movies.head(5)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     budget  ... vote_count
0  30000000  ...     5415.0
1  65000000  ...     2413.0
2         0  ...       92.0
3  16000000  ...       34.0
4         0  ...      173.0

[5 rows x 16 columns]

In [192]:
#merge 해주기 위한 조건(데이터 타입 변경, ID와 상관없는 datetime 값 삭제)
movies['movieId']=movies['movieId'].replace(['1997-08-20', '2012-09-29','2014-01-01'], 0)
movies['movieId']=movies['movieId'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [201]:
ratings_movies = pd.merge(rating, movies, on = 'movieId')
ratings_movies.head(5)

   userId  movieId  rating  ...      title vote_average vote_count
0       1     1371     2.5  ...  Rocky III          6.6      894.0
1       4     1371     4.0  ...  Rocky III          6.6      894.0
2       7     1371     3.0  ...  Rocky III          6.6      894.0
3      19     1371     4.0  ...  Rocky III          6.6      894.0
4      21     1371     3.0  ...  Rocky III          6.6      894.0

[5 rows x 19 columns]

In [194]:
ratings_movies.shape

(44994, 19)

In [197]:
data2 = ratings_movies.pivot_table('rating', index = 'userId', columns = 'original_title').fillna(0)
data2.head(5)

original_title  !Women Art Revolution  'Gator Bait  ...  해안선    활
userId                                              ...
1                                 0.0          0.0  ...  0.0  0.0
2                                 0.0          0.0  ...  0.0  0.0
3                                 0.0          0.0  ...  0.0  0.0
4                                 0.0          0.0  ...  0.0  0.0
5                                 0.0          0.0  ...  0.0  0.0

[5 rows x 2798 columns]

In [202]:
data3 = data2.transpose()
data3.head(5)

userId                                1    2    3    4    ...  668  669  670  671
original_title                                            ...
!Women Art Revolution                 0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Gator Bait                           0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
'Twas the Night Before Christmas      0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
...Più forte ragazzi!                 0.0  0.0  4.5  0.0  ...  0.0  0.0  0.0  0.0
00 Schneider - Jagd auf Nihil Baxter  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

[5 rows x 671 columns]

In [203]:
movie_sim = cosine_similarity(data3, data3)
print(movie_sim.shape)

(2798, 2798)

In [205]:
movie_sim_df = pd.DataFrame(data=movie_sim, index=data3.index, columns=data3.index)
movie_sim_df.head(3)

original_title                    !Women Art Revolution  'Gator Bait  ...  해안선    활
original_title                                                        ...
!Women Art Revolution                          1.000000          0.0  ...  0.0  0.0
'Gator Bait                                    0.000000          1.0  ...  0.0  0.0
'Twas the Night Before Christmas               0.513704          0.0  ...  0.0  0.0

[3 rows x 2798 columns]

In [206]:
movie_sim_df['최종병기 활'].sort_values(ascending=False)[1:5]

original_title
The Truth About Cats & Dogs    0.637085
Parade                         0.632456
The Hire: Beat the Devil       0.632456
Veerana                        0.627572
Name: 최종병기 활, dtype: float64

In [207]:
movie_sim_df["Harry Potter and the Half-Blood Prince"].sort_values(ascending=False)[1:5]

original_title
A Pyromaniac's Love Story    1.0
Thirteen at Dinner           1.0
Synecdoche, New York         1.0
I Know Who Killed Me         1.0
Name: Harry Potter and the Half-Blood Prince, dtype: float64